/.vs/
/*/.vs/
/*/*/.vs/
/*/*/*/.vs/
/*/*/*/*/.vs/
/*/*/*/*/*/.vs/
/*/*/*/*/*/*/.vs/
/*/*/*/*/*/*/*/.vs/
/*/obj/
/*/*/obj/
/*/*/*/obj/
/*/*/*/*/obj/
/*/*/*/*/*/obj/
/*/*/*/*/*/*/obj/
/*/*/*/*/*/*/*/obj/
/*/bin/
/*/*/bin/
/*/*/*/bin/
/*/*/*/*/bin/
/*/*/*/*/*/bin/
/*/*/*/*/*/*/bin/
/*/*/*/*/*/*/*/bin/
/*/Properties/
/*/*/Properties/
/*/*/*/Properties/
/*/*/*/*/Properties/
/*/*/*/*/*/Properties/
/*/*/*/*/*/*/Properties/
/*/*/*/*/*/*/*/Properties/